/* Links */
/*a { color:#0A4273 } ;*/
a.wikidata { color:#0A4273; } /* #2DC800 */
a.wikipedia { color:#3F7EA6; } /* #9669FE */
a.external { color:#7AD95F; font-size:10pt; } /* #2DC800 */
.sitelinks tbody { font-size:9pt; }

table.sidebar-table {
	width:100%;
	border:0;
	border-spacing:0px;
	border-collapse: separate;
	margin-bottom:10px;
}

table.sidebar-table td, table.sidebar-table th {
	padding:1px;
}

div.sidebar thead {
	margin-top:5px;
	background-color:#DDDDDD; /* BBDAFF */
}

/* Descriptions */
.autodesc div {
	display:inline-block;
	margin-right:5px;
}

.manual_description {
	font-size:14pt;
	margin-bottom:5px;
}


/* Misc */
small.qnumber { color:#999999; }
.misc_data { font-size:9pt; }
.alias { display:inline-block; }



/* Larger things */

.mythumb {
	margin:5px;
	display:inline-block;
}

div.map {
	display:inline-block;
	width:220px;
	height:220px;
	margin-right:10px;
}

.aliases {
	color:#999999;
	margin-bottom:5px;
	max-height:100px;
	overflow:auto;
}

.entity {
	display:none;
	margin-left:5px;
}

#main_content {
	margin-top:8px;
	box-shadow:8px 8px 8px #DDD;
	margin-bottom:20px;
	border-radius:15px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:2px;
	padding-right:2px;
}

#top {
	margin-left:5px;
	
}

h1.main_title {
	border-bottom: 1px solid #DDD;
}

h1,h2,h3,h4,h5,h6 {
	color:#444;
	font-family:times new roman;
}

.sidebar {
	float:right;
	margin-left:10px;
	margin-bottom:10px;
	border-left: 1px solid #DDD;
	padding-left:5px
}

.mainbar {
	width:695px;
}
